scrapy
beautifulsoup4
selenium
pandas
dask
sqlalchemy
psycopg2-binary
prophet
statsmodels
matplotlib
seaborn
apache-superset
requests
pyyaml
prefect
pytest
jupyter-notebook
pandas
requests
nbformat
ipykernel
